* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  min-height: 100vh;
  overflow: auto;
  margin: 0;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 35px;
  color: white;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  padding: 0 60px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

li {
  margin: 10px 0;
  line-height: 130%;
}

/*storm leads section*/
.storm-leads-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  background-image: url(/assets/img/roof-damage.jpg);
  height: 175px;
  width: 100%;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 200px 30px #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-shadow: 0px 0px 5px #323232;
}
#predictive-sales-ai-logo {
  width: 100px;
  margin-bottom: 15px;
}
#storm-leads-copy {
  margin: 25px;
}

/*weather widget and weather alerts section*/

#weather-apps {
  display: flex;
  flex-direction: column;
}
.weather-apps-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px 30px;
}

.weather-apps-section h2 {
  margin-top: 10px;
}
.logo-icon {
  height: 50px;
  margin-top: 25px;
}

#weather-widget {
  background-color: #eaeaea;
}

/*quote section*/

#form-section {
  background-color: rgb(14, 93, 168);
}

#form-section h2 {
  color: white;
  padding-top: 50px;
}

form input {
  border: none;
  font-family: 'Roboto', sans-serif;
  margin: 10px;
  width: 250px;
  font-style: italic;
  font-weight: 400;
  padding: 5px;
}

.quote-field {
  display: flex;
  flex-direction: row;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form button {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: white;
  background-color: rgb(36, 167, 74);
  border: solid;
  border-color: white;
  padding: 8px 30px;
  text-align: center;
  display: inline-block;
  margin: 20px 0;
  cursor: pointer;
  border-radius: 2px;
}

.form-icon {
  width: 30px;
}

/*tablet design*/

@media (min-width: 834px) {
  h1 {
    font-size: 55px;
  }

  h2 {
    font-size: 30px;
    padding: 0;
  }


/*storm leads section*/

.hero {
  height: 220px;
  align-items:flex-start;
  padding-left: 40px;
}
#predictive-sales-ai-logo {
  width: 150px;
}
#storm-leads-copy {
  margin: 25px;
}

/*weather widget and weather alerts section*/

#weather-apps {
  flex-direction: row;
  margin: 0 12px 25px 12px;
}
.weather-apps-section {
  padding: 0;
  margin:20px;
}

.weather-apps-section h2 {
  margin-top: 0;
  margin: 0 20px;
}
.logo-icon {
  height: 55px;
  margin-top: 0;
  margin-bottom: 20px;
}

.border-text{
 border: solid;
    border-width: 3px;
    border-color: rgb(14, 93, 168);
    height: 100%;
    padding: 20px 10px;

}

.border-text li{
    padding: 0 10px;
    margin-left: 20px;
}

#weather-widget {
  background-color: transparent;
}

/*quote section*/

form input {
  margin: 10px;
  width: 250px;
  padding: 5px;
  margin-right: 20px;
}

.quote-field {
  display: flex;
  flex-direction: row;
  align-items: center;
}

form {
  flex-direction: row;
  padding-bottom: 25px;
}

.form-icon {
  width: 35px;
}

}

@media (min-width: 1400px) {
      h1 {
    font-size: 75px;
  }

  h2 {
    font-size: 45px;
    padding: 0;
  }
  p {
    font-size: 20px;
  }
  li {
    font-size: 20px;
  }

  /*storm leads section*/

.hero {
  height: 300px;
  padding-left: 10%;
}
#predictive-sales-ai-logo {
  width: 200px;
}
#storm-leads-copy {
  margin: 25px 10%;
}

/*weather widget and weather alerts section*/

#weather-apps {
  margin: 25px 10%;
}
.weather-apps-section {
  margin:0;
}

#weather-alerts {
    margin-left:5%;
}

.weather-apps-section h2 {
  margin-top: 0;
}
.logo-icon {
  height: 55px;
  margin-top: 0;
  margin-bottom: 20px;
}

.border-text{
 border: solid;
    border-width: 3px;
    border-color: rgb(14, 93, 168);
    height: 100%;
    padding: 20px 10px;

}

.border-text li{
    padding: 0 10px;
    margin-left: 20px;
}

#weather-widget {
  background-color: transparent;
}
}
